@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD
=======

@font-face {
    font-family: 'GoogleSans';
    src: url("/font/GoogleSans-Regular.ttf") format('truetype');
}

body {
    margin: 0 auto;
    font-family: 'GoogleSans';
}
>>>>>>> 9707c95 (add more)
